#container{
    height:  500px;
    width: 375px;
    padding: 13px;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: beige;
    border-radius: 19px;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 9px;
  }
  
  button{
    height: 70px;
    width: 79px;
    font-size: 30px;
    border-radius: 25px;
    background-color: skyblue;
    color: black;
    font-weight: 500;
    border: 3px blue solid;
  }
  
  
  #equal, #zero {
    width: 126px;  
  }
  #equal{
    background-color: lime;
  }
  #decimal, #multiply {
    font-weight: bolder;
  }
  
  #inputContain {
    display: flex;
    padding: 9px;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 80px;
    border: 3px solid black;
    margin-top: 13px;
    background-color: yellow;
  }
  
  #expression{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30%;
    font-size: 90%;
    /*border: 1px lime solid;*/
    align-self: flex-end;
    
  }
  
  #input{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    width: 100%;
    height: 70%;
    font-size: 50px;
    /*border: 1px blue solid;*/
    font-family: "Times New Roman", Times, serif;
    align-self: flex-end;
    
  }
  
  #container2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 350px;
    justify-content: center;
    align-items: center;
  }  